<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1394">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Subscribe</span>
            <h2 class="cs-title">Get Your Personalized Accounting Solutions</h2>
            <p class="cs-text">
                Discover the difference with our personalized accounting solutions, meticulously designed to align with your unique financial aspirations and challenges.
            </p>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source
            media="(max-width: 600px)"
            srcset="
            /assets/images/cta.jpg
            "
        />
        <source
            media="(min-width: 601px)"
            srcset="
            /assets/images/cta.jpg
            "
        />
        <img
            loading="lazy"
            decoding="async"
            src="/assets/images/cta.jpg"
            alt="meeting"
            width="1920"
            height="486"
            aria-hidden="true"
        />
    </picture>
</section>
