<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img
                    class="cs-logo-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/logo-white.svg"
                    alt="logo"
                    width="178"
                    height="32"
                />
            </a>
            <p class="cs-text">
                Aenean tincidunt id mauris idology auctor. Donec at ligula
                lacus. Nulla dig nissimmi quis neque interdum. An Ohio man
                allegedly punched.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">About Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Faq</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Categories</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Small Business Accounting</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Management Consulting</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Small Business Accounting</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Management Consulting</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img
                    class="cs-icon"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/phone-stroke.svg"
                    alt="phone"
                    width="24"
                    height="24"
                />
                <a class="cs-nav-link cs-phone" href="tel: 123-456-7890"
                    >(604) 572-3006</a
                >
            </li>
            <li class="cs-nav-li">
                <img
                    class="cs-icon"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/email-stroke.svg"
                    alt="email"
                    width="24"
                    height="24"
                />
                <a
                    class="cs-nav-link cs-email"
                    href="mailto:info@codestitch.com"
                    >spduve@yahoo.com</a
                >
            </li>
            <li class="cs-nav-li">
                <img
                    class="cs-icon"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/pin-stroke.svg"
                    alt="pin"
                    width="24"
                    height="24"
                />
                <a
                    class="cs-nav-link cs-address"
                    href=""
                    target="_blank"
                    rel="noopener"
                >
                    7928 128 St #220<br />
                    Surrey, BC V3W 4E8
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright"
            >© Copyright 2024 -
            <a class="cs-copyright-link" href=""
                >Designed & Handcoded by Northwest Web Designs</a
            ></span
        >
    </div>
</footer>
