---
title: "Contact"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "faq/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faq.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">F.A.Q.</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Faq</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source
            media="(max-width: 600px)"
            srcset="
                /assets/images/banner.jpg
            "
        />
        <!--Tablet and above Image-->
        <source
            media="(min-width: 601px)"
            srcset="
            /assets/images/banner.jpg
            "
        />
        <img
            decoding="async"
            src="/assets/images/banner.jpg"
            alt="people laughing"
            width="1280"
            height="568"
            aria-hidden="true"
        />
    </picture>
</div>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with
                certainty and for any post types, or just they are so much great
                of all to a program.
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <button class="cs-option" data-filter="one">Finance</button>
                <button class="cs-option" data-filter="two">Investment</button>
                <button class="cs-option" data-filter="three">Tax Help</button>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the best way to start investing?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often
                            used interchangeably. A lawyer provides legal
                            services such as giving legal advice, writing legal
                            documents and providing policy counsel to
                            governments. An attorney, on top of these things
                            also holds a state or regional license to represent
                            clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What are the tax implications of investing in
                                the stock market?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA
                                and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often
                            used interchangeably. A lawyer provides legal
                            services such as giving legal advice, writing legal
                            documents and providing policy counsel to
                            governments. An attorney, on top of these things
                            also holds a state or regional license to represent
                            clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often
                            used interchangeably. A lawyer provides legal
                            services such as giving legal advice, writing legal
                            documents and providing policy counsel to
                            governments. An attorney, on top of these things
                            also holds a state or regional license to represent
                            clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a
                                self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sit convallis nunc neque, bibendum pulvinar
                            vitae commodo velit. Proin diam tortor sed malesuada
                            nunc, habitant. Dignissim ipsum porta enim, magna
                            urna, quam.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Have To Say About Us</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. Amet
                minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img
                    class="cs-icon"
                    src="/assets/svgs/yellow-quote.svg"
                    alt="quote icon"
                    aria-hidden="true"
                    width="40"
                    height="38"
                    loading="lazy"
                    decoding="async"
                />
                <h3 class="cs-h3">Professional and helpful</h3>
                <p class="cs-item-text">
                    In my journey spanning 22 years, I have yet to encounter anyone who surpasses Sharda in the realm of tax and finance. His depth of knowledge, unwavering commitment, and exceptional guidance have been a constant source of trust and reliability throughout my financial endeavours. Sharda is, without a doubt, the gold standard in his field, and I consider myself fortunate to have him as my financial guide. Highly recommended.
                </p>
                <span class="cs-name">Rosie</span>
            </li>
            <li class="cs-item">
                <img
                    class="cs-icon"
                    src="/assets/svgs/yellow-quote.svg"
                    alt="quote icon"
                    aria-hidden="true"
                    width="40"
                    height="38"
                    loading="lazy"
                    decoding="async"
                />
                <h3 class="cs-h3">Best guidance and advice</h3>
                <p class="cs-item-text">
                    PRIME TAX has the best service you are looking for in accounting. Excellent welcoming, nice, and clean environment. Accountant MR Sharda Dubey is  knowledgeable and will explain your each and every query in detail of your income and tax. I highly recommend this company for personal or business purposes. This is the place to go.
                </p>
                <span class="cs-name">Vijay</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">See More Reviews</a>
    </div>
</section>

<script>
    const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
    for (const item of faqItems) {
        const onClick = () => {
            item.classList.toggle("active");
        };
        item.addEventListener("click", onClick);
    }

    class FAQFilter {
        filtersSelector = ".cs-option";
        FAQselector = ".cs-faq-group";
        activeClass = "cs-active";
        hiddenClass = "cs-hidden";

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector);
            this.$activeFilter = $filters[0];
            this.$images = document.querySelectorAll(this.FAQselector);

            this.$activeFilter.classList.add(this.activeClass);

            for (const $filter of $filters) {
                $filter.addEventListener("click", () => this.onClick($filter));
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter);

            const { activeClass } = this;

            this.$activeFilter.classList.remove(activeClass);
            $filter.classList.add(activeClass);

            this.$activeFilter = $filter;
        }

        filter(filter) {
            const showAll = filter == "all";
            const { hiddenClass } = this;

            for (const $image of this.$images) {
                const show = showAll || $image.dataset.category == filter;
                $image.classList.toggle(hiddenClass, !show);
            }
        }
    }

    new FAQFilter();
</script>

{% endblock %}
