/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1150 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #contact-1150 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    column-gap: auto;
    /* 48px - 80px */
    row-gap: clamp(3rem, 6vw, 5rem);
    position: relative;
  }
  #contact-1150 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #contact-1150 .cs-title {
    max-width: 23ch;
    margin: 0;
  }
  #contact-1150 .cs-picture {
    width: 100%;
    /* 240px - 300px */
    height: clamp(15rem, 35vw, 18.75rem);
    margin: 0 0 1.5rem;
    /* clips image corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #contact-1150 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #contact-1150 .cs-contact-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem;
    color: var(--bodyTextColor);
  }
  #contact-1150 .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }
  #contact-1150 .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #contact-1150 .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.1);
  }
  #contact-1150 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    display: block;
  }
  #contact-1150 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
    display: block;
    position: relative;
  }
  #contact-1150 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-1150 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: transform 0.3s;
  }
  #contact-1150 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #contact-1150 .cs-form {
    width: 100%;
    /* 24px - 48px top and bottom */
    /* 16px - 32px left and right */
    padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 2rem);
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1150 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1150 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1150 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-1150 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-1150 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    border: none;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #contact-1150 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1150 .cs-button-solid:hover {
    color: #fff;
  }
  #contact-1150 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1150 .cs-submit {
    width: 100%;
    min-width: 17.6875rem;
  }
  #contact-1150 .cs-submit:hover {
    cursor: pointer;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1150 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contact-1150 .cs-contact-group {
    width: 50%;
    max-width: 39.375rem;
  }
  #contact-1150 .cs-form {
    width: 46%;
    max-width: 36.125rem;
  }
  #contact-1150 .cs-submit {
    width: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-1150 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #contact-1150 .cs-title,
  body.dark-mode #contact-1150 .cs-text,
  body.dark-mode #contact-1150 .cs-header,
  body.dark-mode #contact-1150 .cs-link,
  body.dark-mode #contact-1150 .cs-label,
  body.dark-mode #contact-1150 .cs-contact-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-1150 .cs-contact-text,
  body.dark-mode #contact-1150 .cs-link {
    opacity: 0.8;
  }
  body.dark-mode #contact-1150 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #contact-1150 .cs-icon-wrapper {
    border-color: #fff;
  }
  body.dark-mode #contact-1150 .cs-icon {
    /* makes it white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #contact-1150 .cs-form {
    background-color: var(--medium);
  }
  body.dark-mode #contact-1150 .cs-input {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  body.dark-mode #contact-1150 .cs-input::placeholder {
    color: #fff;
    opacity: 0.8;
  }
  body.dark-mode #contact-1150 .cs-graphic {
    opacity: 0.4;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-727 {
    padding: var(--sectionPadding);
  }
  #reviews-727 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-727 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-727 .cs-title {
    max-width: 20ch;
  }
  #reviews-727 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-727 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 48px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
    /* makes padding not affect height and width */
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-727 .cs-icon {
    /* 30px - 40px */
    width: clamp(1.875rem, 4vw, 2.5rem);
    height: auto;
    margin: 0 0 2rem 0;
    display: block;
  }
  #reviews-727 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    color: var(--headerColor);
  }
  #reviews-727 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 4vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 3rem 0;
    color: var(--bodyTextColor);
  }
  #reviews-727 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    margin: auto 0 0 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  #reviews-727 .cs-name:before {
    content: "";
    width: 0.5rem;
    height: 1px;
    background: currentColor;
    display: block;
    position: relative;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-727 .cs-container {
    max-width: 80rem;
  }
  #reviews-727 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #reviews-727 .cs-item {
    width: 48.5%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-727 .cs-topper,
  body.dark-mode #reviews-727 .cs-title,
  body.dark-mode #reviews-727 .cs-text,
  body.dark-mode #reviews-727 .cs-h3,
  body.dark-mode #reviews-727 .cs-item-text,
  body.dark-mode #reviews-727 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-727 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #reviews-727 .cs-item {
    background-color: var(--medium);
  }
}

/*# sourceMappingURL=contact.css.map */
