/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1308 {
        padding: var(--sectionPadding);
        padding-top: calc(750 / 16 * 1rem);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16 / 16) * 1rem;
            &:last-of-type {
                margin-bottom: (32 / 16) * 1rem;
            }
        }

        .cs-ul {
            width: 100%;
            padding: 0;
            /* 32px - 48px */
            margin: clamp(2rem, 5vw, 3rem) 0 0 0;
            /* 32px - 48px */
            padding: clamp(2rem, 5vw, 3rem) 0 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: calc(12 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            font-size: calc(25 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
        }

        .cs-h3 {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(670 / 16 * 1rem);
            height: 100vw;
            max-height: calc(630 / 16 * 1rem);
            position: relative;
            display: block;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: calc(304 / 16 * 1rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Tablet - 360px */
@media only screen and (min-width: 48rem) {
    #sbs-1308 {
        padding-top: calc(500 / 16 * 1rem);
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1308 {
        padding-top: calc(250 / 16 * 1rem);

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: calc(48 / 16 * 1rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: calc(670 / 16 * 1rem);
            min-height: calc(670 / 16 * 1rem);
            max-height: 100%;
            height: auto;
            margin: 0;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
        }

        .cs-box {
            bottom: 0;
        }

        .cs-graphic {
            max-width: calc(715 / 16 * 1rem);
            left: auto;
            right: calc(130 / 16 * 1rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1308 {
            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text,
            .cs-h3 {
                opacity: 0.8;
            }

            .cs-ul {
                border-color: rgba(255, 255, 255, 0.1);
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1331 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            /* 40px - 60px top & bottom,  20px - 48px left & right, */
            padding: clamp(2.5rem, 4.1vw, 3.75rem) clamp(1.25rem, 3.4vw, 3rem);
            background-color: #fff;
            grid-column: span 12;
            transition:
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
                transform: translateY(calc(-16 / 16 * 1rem));
            }
        }

        .cs-link {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cs-step {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            /* 48px - 100px */
            margin-bottom: clamp(3rem, 7.8vw, 6.25rem);
            color: var(--primary);
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 900;
            text-align: inherit;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.06;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1331 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1331 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1301 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: 0;
            padding: 0 calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            background-color: #fff;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            position: relative;
            z-index: 15;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            grid-column: span 12;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 24px - 60px top & Bottom */
            /* 24px - 16px top & Bottom */
            padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            /* 32px - 40px */
            height: clamp(2rem, 4vw, 2.5rem);
            width: auto;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1301 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            grid-column: span 6;

            &:nth-of-type(3) {
                border-bottom: none;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1301 {
        .cs-card-group {
            padding: 0;
        }

        .cs-item {
            grid-column: span 3;
            border-bottom: 0;
            border-right: 1px solid #e8e8e8;

            &:hover {
                background-color: #1a1a1a;
                border-color: #1a1a1a;

                .cs-h3,
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item-text {
                    opacity: 0.8;
                }
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1301 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-card-group {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .cs-item {
                border-color: rgba(255, 255, 255, 0.1);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    border-color: rgba(0, 0, 0, 0.6);
                }
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}


                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1218,
    #RPsbsr-1218 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        

        .cs-image-group {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/358;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: center;
            width: auto;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem);
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-icon {
            /* 40px - 60px */
            width: clamp(2.5rem, 4vw, 3.75rem);
            height: auto;
            margin-right: 0;
            display: block;
        }

        .cs-number {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            z-index: 10;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1218,
    #RPsbsr-1218 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 47%;
            align-self: center;
        }

        .cs-image-group {
            width: 43vw;
            max-width: calc(560 / 16 * 1rem);
            min-height: calc(400 / 16 * 1rem);
            height: auto;
            margin: 0 calc(72 / 16 * 1rem) 0 0;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
        }

        .cs-box {
            bottom: calc(40 / 16 * 1rem);
            left: auto;
            /* -40px to -108px */
            right: calc(clamp(2.5rem, 6vw + 1rem, 6.75rem) * -1);
        }

        .cs-graphic {
            max-width: calc(715 / 16 * 1rem);
            left: auto;
            right: calc(130 / 16 * 1rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-1218,
        #RPsbsr-1218 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-percentage {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text,
            .cs-percentage {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }

            .cs-progress {
                background-color: var(--accent);
            }

            .cs-graphic {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1218 {
        background-color: #f7f7f7;

        .cs-picture {
            left: 0;
            right: auto;
        }

        .cs-box {
            left: auto;
            right: 0;
        }

        .cs-graphic {
            filter: grayscale(1) brightness(1000%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-1218 {
        .cs-image-group {
            margin: 0 0 0 calc(72 / 16 * 1rem);
            order: 2;
        }

        .cs-box {
            right: auto;
            /* -40px to -108px */
            left: calc(clamp(2.5rem, 6vw + 1rem, 6.75rem) * -1);
        }

        .cs-graphic {
            right: auto;
            left: calc(130 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-1218 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1230 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: url("/assets/svgs/chevron-pattern-light2.svg");
            background-position: center;
            background-size: auto;
            background-repeat: repeat;
            opacity: 0.6;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(32 / 16 * 1rem);
        }

        .cs-flex {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            max-width: calc(650 / 16 * 1rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 16px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            box-sizing: border-box;
            background: #282828;
            border: 1px solid #3a3a3a;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            gap: calc(12 / 16 * 1rem);
            /* clips cs-icon overflowing */
            overflow: hidden;
            grid-column: span 6;
        }

        .cs-icon {
            /* 32px - 40px */
            width: clamp(2rem, 3vw, 2.5rem);
            height: auto;
            margin: 0;
            flex: none;
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 900;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
            /* wraps longer words on the smallest screen sizes */
            overflow-wrap: break-word;
        }

        .cs-stat-group {
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
        }

        .cs-stat {
            list-style: none;
            margin: 0;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem) calc(16 / 16 * 1rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid-column: span 2;

            /* border code */
            &:before {
                content: "";
                width: 2px;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    rgba(72, 72, 72, 0) 0%,
                    #484848 50%,
                    rgba(72, 72, 72, 0) 100%
                );
                position: absolute;
                top: 0;
                right: 0;
            }

            /* remove the border on the far-right elements */
            &:nth-of-type(3),
            &:nth-of-type(5) {
                &:before {
                    content: none;
                }
            }

            /* makes the last two items span across multiple columns. changes at desktop to one line */
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 3;
            }
        }

        .cs-desc {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: center;
            /* keeps the width of the stat description from overflowing onto the border */
            /* 88px - 176px */
            width: clamp(5.5rem, 20vw, 11rem);
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .cs-number {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-1230 {
        .cs-container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-card-group {
            display: grid;
            /* makes all grid items stretch to have the same height if their content isn't all the same height */
            align-items: stretch;
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            grid-column: span 1;
            flex-direction: row;
            align-items: center;
        }

        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1230 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            flex-direction: row;
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
            order: -1;
        }

        .cs-stat-group {
            max-width: calc(1280 / 16 * 1rem);
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-stat {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }

            &:nth-of-type(3) {
                &:before {
                    content: "";
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1230 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
                                                                          
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1318 {
        padding: var(--sectionPadding);
        /* clips the cs-floater and prevents it from causing overflow issues */
        overflow: hidden;
        background-color: #f7f7f7;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(487 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(852 / 16 * 1rem);
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            /* 48px - 64px top & bootm */
            /* 16px - 24px left & right */
            padding: clamp(3rem, 4.4vw, 4rem) clamp(1rem, 2.3vw, 1.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.cs-popular {
                background-color: #1a1a1a;

                .cs-ul {
                    &:before {
                        opacity: 0.5;
                    }
                }

                .cs-package,
                .cs-desc,
                .cs-price,
                .cs-duration,
                .cs-li {
                    color: var(--bodyTextColorWhite);
                }

                .cs-desc,
                .cs-duration,
                .cs-li {
                    opacity: 0.8;
                }

                .cs-button-transparent {
                    border: none;
                    background-color: var(--primary);
                    color: #1a1a1a;

                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }

        .cs-package {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-align: inherit;
            text-transform: uppercase;
            font-weight: 700;
            /* 4px - 8px */
            margin: 0 0 clamp(0.25rem, 1vw, 0.5rem) 0;
        }

        .cs-desc {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-price {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0;
            padding: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .cs-duration {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: inherit;
            margin: 0;
            /* 4px - 8px */
            padding: clamp(0.25rem, 1vw, 0.5rem) 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-ul {
            width: 100%;
            /* 16px - 24px */
            margin: clamp(1rem, 2vw, 1.25rem) 0 auto 0;
            padding: clamp(1rem, 2vw, 1.25rem) 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 8px - 12px */
            gap: clamp(0.5rem, 1.5vw, 0.75rem);
            position: relative;

            &:before {
                content: "";
                width: 100%;
                max-width: calc(250 / 16 * 1rem);
                height: 1px;
                background: linear-gradient(
                    90deg,
                    rgba(232, 232, 232, 0.2) 0%,
                    #e8e8e8 53.78%,
                    rgba(232, 232, 232, 0.2) 100%
                );
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            font-weight: 400;
            text-align: inherit;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-button-transparent {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            /* this is the section specific override if you choose to pull out the cs-button-transparent and place it in a global stylesheet to resue acorss the entire site */
            /* 28px - 40px */
            margin-top: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-floater {
            width: calc(652 / 16 * 1rem);
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1318 {
        .cs-container {
            max-width: calc(1440 / 16 * 1rem);

            .cs-card-group {
                margin-bottom: calc(72 / 16 * 1rem);
                flex-direction: row;
                align-items: stretch;
            }

            .cs-item {
                &:nth-of-type(2) {
                    transform: translateY(4.5rem);
                }
            }
        }
    }
}

/* Large Desktop Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1318 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-card-group {
            width: 65.7%;
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1318 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-ul {
                &:before {
                    opacity: 0.5;
                }
            }

            .cs-item {
                background-color: var(--medium);

                &.cs-popular {
                    background-color: var(--primary);

                    .cs-ul {
                        &:before {
                            opacity: 1;
                            filter: grayscale(1) brightness(20%);
                        }
                    }

                    .cs-package,
                    .cs-desc,
                    .cs-price,
                    .cs-duration,
                    .cs-li {
                        color: var(--headerColor);
                    }

                    .cs-button-transparent {
                        background-color: #1a1a1a;
                        color: var(--primary);
                    }
                }
            }

            .cs-package {
                color: var(--primary);
            }

            .cs-desc,
            .cs-price,
            .cs-duration,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-duration,
            .cs-li,
            .cs-desc {
                opacity: 0.8;
            }

            .cs-floater {
                opacity: 0.3;
            }
        }
    }
}

           

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-icon {
            /* 30px - 40px */
            width: clamp(1.875rem, 4vw, 2.5rem);
            height: auto;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(48 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            position: relative;
            &:before {
                content: "";
                width: calc(8 / 16 * 1rem);
                height: 1px;
                background: currentColor;
                display: block;
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48.5%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-727 {
            .cs-topper,
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

                                                   